# This file is used by the pipenv package manager to manage the project's dependencies.
# Pipenv is a tool that aims to bring the best of all packaging worlds (bundler, composer, npm, cargo, yarn, etc.) to the Python world.

[[source]]
# This section defines the package index to be used.
# In this case, it is the Python Package Index (PyPI).
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=5.0,<5.2"
djangorestframework = ">=3.15,<3.17"
djangorestframework-xml = ">=2.0,<2.1"
bleach = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "~=5.2.1"

[dev-packages]

[requires]
# This section specifies the required Python version for the project.
python_version = "3.12"
